<html>
<head>

</head>
<body>
<nav><a href="/">Home</a><a href="/signup">Signup</a><a href="/profile">Profile</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>
</nav>
<%= yield %>
</body>
</html>